<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Сервис помощник для приготовления блюд</h1>
    <ul>
        <p><a href="http://127.0.0.1:8000/omlet/">Ингредиенты омлета</a></p>
        <p><a href="http://127.0.0.1:8000/buter/">Ингредиенты бутерброда</a></p>
        <p><a href="http://127.0.0.1:8000/pasta/">Ингредиенты пасты</a></p>
    </ul>
    <h2>Для расчета количества ингредиентов для нескольких персон, после ссылки укажите параметр servings</h2>
    <h3>Например: ?servings=2 для двух персон</h3>
</body>
</html>