{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <br>Имя ученика: {{ student.name }}, Группа: {{ student.group }}
      <br>
        <br> Преподаватель:
      <br>
        {% for teacher in student.teacher.all %}
            <li>Имя учителя: {{ teacher.name }}, Название предмета: {{ teacher.subject }}</li>
        {% endfor %}
  {% endfor %}
  </ul>
</div>
{% endblock %}
